@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  @apply text-gray-500;
}

img {
  object-fit: cover;
  pointer-events: none;
}

.top-nav {
  @apply bg-emerald-500;
  height: 48px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media (min-width: 1288px) {
  .container {
    max-width: 1024px;
  }
}